<%- include('layouts/head.ejs', { title: 'Home - Page', css: ['home_page'] }) %>

<main>

    <!-- Contact -->
    <section id="contactList">
        <div class="contact-wrapper">

        </div>
    </section>

    <!-- Chat -->
    <section id="chat">
        <div class="chat-wrapper">
            <div class="input-wrapper">
                <input type="text" class="send-message" placeholder="Send Message">
                <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </div>
    </section>

    <!-- User Details -->
    <section id="userDetails">
        <div class="user-wrapper">

        </div>
    </section>
</main>
</body>
</html>